@import "tailwindcss";

@theme {
  --color-deep-space-black: #050505;
  --color-neon-purple: #7b2cbf;
  --color-cyan-tech: #00f5d4;
  --color-hot-pink: #f72585;

  --font-orbitron: var(--font-orbitron);
  --font-rajdhani: var(--font-rajdhani);
  --font-inter: var(--font-inter);
  --font-roboto: var(--font-roboto);

  --background-image-nebula-fog: radial-gradient(circle at 50% 50%, rgba(123, 44, 191, 0.1) 0%, rgba(5, 5, 5, 1) 70%);
}

@utility glass-panel {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--color-deep-space-black);
  background-image: var(--background-image-nebula-fog);
  color: white;
  font-family: var(--font-inter), sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}
